* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  color: #ff9900;
}

body {
  background: #fffcf7;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.parent-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr {
  color: #666666;
}

table tr:nth-child(even) {
  background-color: #fff5e6;
}

table tr:hover {
  background-color: #f3e8da;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff9900;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.btn-primary {
  background: #ff9900;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-primary:hover {
  background: #ff9900b3;
}

.cursor-notAllowed {
  cursor: not-allowed;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ff9900;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
